body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25rem;
  background-color: rgb(240, 230, 187);
  font-size: xx-large;
  color: rgb(250, 192, 2);
}
button {
  color: rgb(223, 138, 11);
  height: 3rem;
  width: 10rem;
  font-size: x-large;
}
